
.wrapper {
    margin: 20px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em;
}

.profile {
    background: var(--Dark-blue);
    border-radius: 10px;
}

.user-info {
    background-color: var(--Blue);
    border-radius: 10px;
    padding: 1.5em;
    padding-bottom: 3.5em;
    img {
        width: 80px;
        border-radius: 50%;
        border: solid 2px #fff;
        margin-bottom: 25px;
    }
    h1 {
        font-size: 2em;
        font-weight: 300;
    }
}

.subtitle {
    color: var(--Pale-Blue);
    font-size: 0.8em;
}

ul {
    padding: 1.5em;
    padding-top: 0;
    list-style: none;
    li {
        margin-top: 1em;
        cursor: pointer;
        color: var(--Pale-Blue);
        &:hover {
            color: #fff;
        }
        
    }
    li.selected {
        color: #fff;
    }
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.card {
    border-radius: 12px;
    padding-top: 40px;
    .card-content {
        background-color: var(--Dark-blue);
        border-radius: 10px;
        height: 100%;
        padding: 1em;
        cursor: pointer;
        &:hover {
            background-color: var(--Desaturated-blue);
        }
        .card-header {
            position: relative;
            >p > span {
                position: absolute;
                right: 0.8em;
            }
        }
        .card-body {
            padding-top: 1.5em;
            h1 {
                font-size: 2.5em;
                font-weight: 300;
                padding-bottom: 0.2em;
            }
        }
    }
}

.work {
    background: var(--Light-orange) url('../../assets/images/icon-work.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}

.play{
    background: var(--Soft-blue) url('../../assets/images/icon-play.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}

.study{
    background: var(--Light-red) url('../../assets/images/icon-study.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}

.exercise{
    background: var(--Lime-green) url('../../assets/images/icon-exercise.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}

.social {
    background: var(--Violet) url('../../assets/images/icon-social.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}

.selfcare {
    background: var(--Soft-yellow) url('../../assets/images/icon-self-care.svg') no-repeat top -5px right 10px;
    background-size: 3.5em;
}


/*ATRIBUTTION*/
.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white;
    margin: 50px;
    a {
        color: hsl(228, 45%, 44%);
    }
}

/* Smaller Screens */
@media screen and (max-width: 800px ) {
    .wrapper {
        .cards-container {
            grid-template-columns:  1fr;
        }
        .profile {
            max-height: 450px;
        }
        .card {
            .card-content {
                .card-body > div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}

/* Mobile Screens */
@media screen and (max-width: 600px) {
    .wrapper {
        grid-template-columns: 1fr;
        width: 100%;
        .user-info {
            display: flex;
            padding-bottom: 0;
            > div {
                display: flex;
                flex-direction: column;
                margin: 20px;
            }
            h1 {
                font-size: 1.5em;
                font-weight: 300;
            }
        }
        ul {
            display: flex;
            justify-content: space-between;
        }
    
        .card {
            .card-content {
                 .card-body > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                 }
            }
        }
    }
}